@page "/Products"
@rendermode InteractiveServer
@inject HttpClient Http
@inject AuthService Auth
@using Varelager.ApiService.Data

@if (!Auth.IsLoggedIn)
{
    <p>You must log in to see this page</p>
}
else if (Auth.Type != "Admin" && Auth.Type != "Warehouse")
{
    <p>Access denied</p>
}
else
{
    <h3>Products</h3>

    @* ------------------------------------------ create *@
    <input type="text" @bind="createInputName" placeholder="name" />
    <input type="text" @bind="createInputDescription" placeholder="description" />
    <select @bind="createInputSupplierId">
        <option value=0>-- select supplier --</option>

        @foreach (var supplier in suppliers)
        {
            <option value=@supplier.Id>@supplier.Name</option>
        }
    </select>
    <input type="text" @bind="createInputWeight" placeholder="weight" />
    <input type="text" @bind="createInputStock" placeholder="stock" />
    <button class="btn btn-primary" @onclick="AddToTable">add name</button>

    <br />
    <br />
    @* ------------------------------------------ update *@
    <input type="text" @bind="updateInputName" placeholder="name" />
    <input type="text" @bind="updateInputDescription" placeholder="description" />
    <select @bind="updateInputSupplierId">
        <option value=0>-- select supplier --</option>

        @foreach (var supplier in suppliers)
        {
            <option value=@supplier.Id>@supplier.Name</option>
        }
    </select>
    <input type="number" @bind="updateInputWeight" placeholder="weight" />
    <input type="number" @bind="updateInputStock" placeholder="stock" />
    <br />
    <input type="number" @bind="updateId" placeholder="id of row update" />
    <br />
    <button class="btn btn-primary" @onclick="UpdateRow">update</button>

    <br />
    <br />
    @* ------------------------------------------ delete *@
    <input type="number" @bind="deleteId" placeholder="id of row delete" />
    <button class="btn btn-primary" @onclick="DeleteRow">delete</button>

    @* table *@
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>supplier id</th>
                <th>weight</th>
                <th>stock</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Supplier.Name</td>
                    <td>@item.Weight</td>
                    <td>@item.Stock</td>
                </tr>
            }
        </tbody>
    </table>

    @code {
    private string createInputName = "";
    private string createInputDescription = "";
    private int createInputSupplierId;
    private double createInputWeight;
    private int createInputStock;

    private string updateInputName = "";
    private string updateInputDescription = "";
    private int updateInputSupplierId;
    private double updateInputWeight;
    private int updateInputStock;
    private int updateId;

    private int deleteId;

    private List<Product> items = new();
    private List<Supplier> suppliers = new();

    private async Task AddToTable()
    {
        if (!string.IsNullOrWhiteSpace(createInputName) &&
            !string.IsNullOrWhiteSpace(createInputDescription) &&
            createInputSupplierId > 0 &&
            createInputWeight > 0.0 &&
            createInputStock > 0)
        {
            await Http.PostAsJsonAsync("https://localhost:7507/products", new
            {
                Name = createInputName,
                Description = createInputDescription,
                SupplierId = createInputSupplierId,
                Weight = createInputWeight,
                Stock = createInputStock
            }); // send post request to url with variables
        }
        createInputName = "";
        createInputDescription = "";
        createInputSupplierId = 0;
        createInputWeight = 0.0;
        createInputStock = 0;
        await ReturnAllInTable();
    }
    private async Task ReturnAllInTable()
    {
        items = await Http.GetFromJsonAsync<List<Product>>("https://localhost:7507/products"); // sends get request to url and turns data into list
    }
    private async Task LoadSuppliers()
    {
        suppliers = await Http.GetFromJsonAsync<List<Supplier>>("https://localhost:7507/suppliers");
    }
    private async Task UpdateRow()
    {
        if (
        !string.IsNullOrWhiteSpace(updateInputName) &&
        !string.IsNullOrWhiteSpace(updateInputDescription) &&
        updateInputSupplierId > 0 &&
        updateInputWeight > 0.0 &&
        updateInputStock > 0 &&
        updateId > 0)
        {
            await Http.PatchAsJsonAsync($"https://localhost:7507/products/{updateId}", new
            {
                Name = updateInputName,
                Description = updateInputDescription,
                SupplierId = updateInputSupplierId,
                Weight = updateInputWeight,
                Stock = updateInputStock
            }); // sends patch request to url with id and input
        }
        updateInputName = "";
        updateInputDescription = "";
        updateInputSupplierId = 0;
        updateInputWeight = 0.0;
        updateInputStock = 0;
        updateId = 0;
        await ReturnAllInTable();
    }
    private async Task DeleteRow()
    {
        if (deleteId > 0)
        {
            await Http.DeleteAsync($"https://localhost:7507/products/{deleteId}"); // sends delete request to url with id
        }
        deleteId = 0;
        await ReturnAllInTable();
    }
    protected override async Task OnInitializedAsync()
    {
        await ReturnAllInTable();
        await LoadSuppliers();
    }
}
}